{% if article.image and section.settings.show_featured_image %}
<div class="article-image align-center {% unless settings.use_fullwidth_layout %}container{% endunless %}">{% include 'responsive-image', image: article.image %}</div>
{% endif %}

<div class="container">
    <div class="page-header cf">
      <h1 class="majortitle">{{ article.title }}</h1>
    </div>
</div>

<div class="article">
  <div class="container">

    <div id="article-collections" class="user-content spaced-row">
      {{ article.content }}
    </div>

    <div class="collection-nav">
        {% assign current_found = false %}
        {% assign done = false %}
        {% for a in blog.articles %}
            {% if current_found and done == false %}
                {% assign next_article = a %}
                {% assign done = true %}
            {% endif %}
            {% unless done %}
                {% if a.id == article.id %}
                    {% assign current_found = true %}
                {% else %}
                    {% assign prev_article = a %}
                {% endif %}
            {% endunless %}
        {% endfor %}

        {% if next_article %}
            <a href="{{ next_article.url }}"><h4>{{ next_article.title }} »</h4></a>
        {% endif %}
    </div>


  </div><!-- /.container -->
</div><!-- /.article -->
